<!-- <p>navbar works!</p> -->

<div>
    <div class="nav-bar">

        <div class="logo">
            PRO.MAN
        </div>

        <div class="pry-links">
            <a href="">Home</a>
            <a href=""> About</a>
            <a href="">Contact us</a>
            <a href="">Enterprise</a>
        </div>

        <div class="button">
            <button routerLink="/home">Logout</button>
            <button routerLink="auth/login">Login</button>
            <button routerLink="auth/register">Register</button>
        </div>

    </div>
    
    <!-- <router-outlet></router-outlet> -->
</div>


