
<div class="users" >

    <div class="all-users">

        <h4> User Task</h4>

        <table >
            <tr>
                <th>project_id</th>
                <th>project_name</th>
                <th>project_desc</th>
                <th>Project_timeline</th>
                <th>action</th>

                
                
            </tr>

            <tr *ngFor="let project of assignedProjects">

               
                <td>{{project.project_id}}</td>
                <td>{{project.project_name}}</td>
                <td>{{project.project_desc}}</td>
                <td>{{project.project_timeline}}</td>
                <td><button class="btn" type="submit" (click)="update(project.project_id)">MarkDone</button></td>
                
            </tr>
        </table>

        <ng-template #noTask>
            No tasks available!!!

        </ng-template >

    </div>

  


</div>
