
<div class="users" >

    <div class="all-users">

        <h4> User Task</h4>

        <table>
            <tr>
                <th>user_id</th>
                <th>username</th>
                <th>email</th>
                <th>action</th>
                
                
            </tr>

            <tr *ngFor="let user of users">

               
                <td>{{user.user_id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td><button class="btn" type="submit" (click)="update()">MarkDone</button></td>
                
            </tr>
        </table>

    </div>

  


</div>
