<!-- <p>home works!</p> -->
<div class="description">
    <div>
        <h1>
            Make Management <br>
            Way More Easier <br>
            Than Ever With Us.
        </h1>

        <button>Learn more</button>
        <button>Contact us</button>
    </div>

    <div>
        <!-- <img src="https://images.unsplash.com/photo-1572177812156-58036aae439c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHJvamVjdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt=""> -->
        <img src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cHJvamVjdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="" srcset="" width="">
    </div>
    

    
</div>

<!-- <router-outlet></router-outlet> -->
